.navbar {
    font-weight: bold;
    letter-spacing: .5px;
    background-color: rgb(72, 22, 118);
}

.active {
    color: white;
    font-weight: bold;
}

.navbar a {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: blueviolet;
    text-align: center;
    padding: 14px 16px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(70, 38, 100);
    color: violet
}

.drodown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    color: blueviolet;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content{
    position: absolute;
    background-color: rgb(97, 53, 137);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgb(97, 53, 137);
}

.dropdown:hover .dropdown-content{
    display: block;
}

a.nav-link{
    color: black;
}

#navbarNav {
    background-color: rgb(72, 22, 118);
}