.container-content {
  background-color: #767676;
}

h2 {
  color: goldenrod;
  text-align: center;
}

.container-fluid#banner {
  text-align: center;
  background-color: blueviolet;
  color: goldenrod;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
 } 

#banner h1 {
  padding: 30px;
}

img.uniform-height-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

