button.btn {
    margin-top: 10px;
    background-color: blueviolet;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

h1 {
    padding: 20px;
    text-align: center;
}

h4 {
    padding-top: 10px;
    font-size: larger;
}

#displayArea ul{
    list-style-type: none;
    padding: 20px;
}

.container-fluid .row {
    background-color: rgb(179, 245, 243);
    margin: 20px;
}