h1 {
  color: goldenrod;
  text-align: center;
  height: 70px;
  padding-top: 20px;
}

#banner {
  padding-bottom: 20px;
}

.container-fluid {
  background-color: blueviolet;
  position: relative;
  padding-bottom: 100px;
}

.chart-container {
  width: 80%;
  height: 400px;
  margin: auto;
  background-color: navy;
  margin-top: 25px;
  margin-bottom: 25px;
}
