.container-fluid {
  background-color: #767676;
}

.container-fluid#banner {
 background-color: blueviolet;
 color: goldenrod;
 padding-top: 10px;
 padding-bottom: 10px;
 width: 100%;
}

h1 {
  background-color: blueviolet;
  color: goldenrod;
}

.container-fluid h2 {
  color: #D6D6CE;
}

img.uniform-height-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.carousel {
  margin-bottom: 60px;
}

.carousel-caption {
  color: gold;
  background-color: black;
  padding: 0 !important;
  margin: 0 !important;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}