.bangers-regular {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
  }  

table {
    font-family: "Bangers";
}

a#wiki {
    text-decoration: none;
}

a#wiki:link{
    color: yellowgreen
}

a#wiki:visited{
    color: darkolivegreen;
}

a#wiki:hover{
    color:blueviolet;
}

li.primary::first-letter {
    font-size: xx-large;
    font: bold;
    color: rgb(205, 50, 122);
}

ol#first {
    list-style-type: lower-roman;
}

ol#second {list-style-type: lower-alpha;
}

ul#third{
    list-style-type: square;
}

ul#fourth{
    list-style-type: "$";
}