$uchicago-maroon: #800000;
$uchicago-light-gray: #D6D6CE;
$uchicago-dark-gray: #767676;

body {
    background-color: $uchicago-dark-gray;
}

h1 {
    color: $uchicago-maroon;
}

h2 {
    color: $uchicago-light-gray;
}